@font-face {
  font-family: "canto";
  src: url(../pages/Canto-SemiBold.ttf) format("truetype");
  font-weight: 400;
  font-display: block;
}

:root{
  --background-color: #1E1E1E;
  --font-color: white;
  --font-family: canto;
  /*--font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;*/
}
body{
  background-color: var(--background-color);
}

.nav{
  font-size: 12vmin;
  text-align: center;
  font-family: var(--font-family);
  margin-top: 20vh;

}


a:visited{
  color: var(--font-color);
}
a{
  text-decoration: none;
  color: var(--font-color);
}
table, tr, td, th{
  border: 1px solid var(--font-color);
  border-collapse: collapse;
  font-size: 8vmin;
  margin-left:auto;
  margin-right:auto;
  font-family: var(--font-family);
  color: var(--font-color);
  margin-top: 3px;

}
tr, td, th{
  padding-right: 5px;
  padding-right: 5px;

}
sub{
  font-size: 2vmin;
}
#pop{
  padding-top: 50px;
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;


}