.nav{
  font-size: 10vmin;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 20vh;

}
a:visited{
  color: orange;
}
a{
  text-decoration: none;
  color: orange;
}
table, tr, td, th{
  border: 1px solid orange;
  border-collapse: collapse;
  font-size: 8vmin;
  margin-left:auto;
  margin-right:auto;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: orange;
  margin-top: 5vmin;
}
tr, td, th{
  padding-right: 5px;
  padding-right: 5px;

}
sub{
  font-size: 1vmin;
}
#pop{
  padding-top: 5px;
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
}