.nav{
  font-size: 10vmin;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 20vh;
}
a:visited{
  color: orangered;
}
a{
  text-decoration: none;
}